@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

    <h1>Bookstore</h1>

    <ul>
    @foreach(Book b in Model.Books)
    {
        <partial name="ProjectSummary" model="b"/> //calling partial view

    }
</ul>

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"></div> 